<div class="person">
  <div class="attribute">{{first_name}}</div>
  <div class="attribute">{{last_name}}</div>
  <div class="attribute">{{age}}</div>
  <div class="attribute">{{location}}</div>
</div>
